<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav class="blue-grey darken-2">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center ">Login</a>
                    <ul class="right">
                        <li><a href="index.html">Todo List</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align"></h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/login.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
       <script id="login-template" type="text/x-handlebars-template">
           <div class="col s6">
          <h2 class="center-align">Sign In</h2>
           <div>
              <form class="col s12 form-signin">
                 <div class="row">
                   <div class="input-field col s12">
                      <input id="email" type="email" name="email" class="validate">
                      <label for="email">Email</label>
                   </div>
                 </div>
                  <div class="row">
                   <div class="input-field col s12">
                      <input id="password" type="password" name="password" class="validate">
                      <label for="password">Password</label>
                   </div>
                 </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
       </script>   
       <script id="welcome-template" type="text/x-handlebars-template">
          <h2>Welcome, {{email}}</h2>
          <button class="btn btn-large waves-effect waves-light add-blog">Add a new task</button>
            <button class="btn btn-large waves-effect waves-light logout">Logout</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
               <h2>Add a new Task to TodoList</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
              <p class="blogtitle"> Title </p>
                   <div class="input-field col s12">
                       <input required id="title" type="text" name="title">
                       <label for="title"></label>
                   </div>
              </div>
                 <div class="row">
                 <p class="contenttitle"> Message </p>
                   <div class="input-field col s12">
                       <textarea required id="content" name="content" class="materialize-textarea"></textarea>
                       <label for="content"></label>
                   </div>
              </div>
                  <div class="row">
                     <div class="col s12">
                         <p class="right-align">
                             <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Add task to TodoList</button>
                         </p>
                    </div>
              </div>
          </form>
      </div>
      </script>
      
    </body>
</html>
        